<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Swp Drawer Sideslip Animation Top</string>
		<key>size</key>
		<integer>500</integer>
		<key>drawer</key>
		<integer>0</integer>
		<key>direction</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Drawer Sideslip Animation Left</string>
		<key>size</key>
		<integer>260</integer>
		<key>drawer</key>
		<integer>0</integer>
		<key>direction</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Drawer Sideslip Animation Bottom</string>
		<key>size</key>
		<integer>500</integer>
		<key>drawer</key>
		<integer>0</integer>
		<key>direction</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Drawer Sideslip Animation Right</string>
		<key>size</key>
		<integer>260</integer>
		<key>drawer</key>
		<integer>0</integer>
		<key>direction</key>
		<string>3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Drawer Slide Eject Animation Top</string>
		<key>size</key>
		<integer>500</integer>
		<key>drawer</key>
		<integer>1</integer>
		<key>direction</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Drawer Slide Eject Animation Left</string>
		<key>size</key>
		<integer>260</integer>
		<key>drawer</key>
		<integer>1</integer>
		<key>direction</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Drawer Slide Eject Animation Bottom</string>
		<key>size</key>
		<integer>400</integer>
		<key>drawer</key>
		<integer>1</integer>
		<key>direction</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Drawer Slide Eject Animation Right</string>
		<key>size</key>
		<integer>260</integer>
		<key>drawer</key>
		<integer>1</integer>
		<key>direction</key>
		<string>3</string>
	</dict>
</array>
</plist>
