<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Swp Cool Animators</string>
		<key>jumpController</key>
		<string>SwpCoolAnimatorsViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Cool Animators Random</string>
		<key>jumpController</key>
		<string>SwpCoolAnimatorsRandomViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Drawer Animators</string>
		<key>jumpController</key>
		<string>SwpDrawerAnimatorsViewController</string>
	</dict>
</array>
</plist>
