<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Swp Cool Animations</string>
		<key>jumpController</key>
		<string>SwpCoolAnimationsViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Cool Animations Random</string>
		<key>jumpController</key>
		<string>SwpCoolRandomAnimatorsViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Drawer Animations</string>
		<key>jumpController</key>
		<string>SwpDrawerAnimationsViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Custom Animations</string>
		<key>jumpController</key>
		<string>SwpCustomToAnimationsViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swp Custom Animations</string>
		<key>jumpController</key>
		<string>SwpCircleSpreadAnimationsToViewController</string>
	</dict>
</array>
</plist>
